<!DOCTYPE html>

<html>

<head>
</head>

<body>
<%= render 'template/pokertemp' %>
<div class="main.input">
  <%= render 'template/pokertemp3' %>
    <div class="output.result">
      <%= @yaku%>
    </div>
</div>
<%= render 'template/pokertemp2' %>
</body>

</html>