<!DOCTYPE html>

<html>

<head>
</head>

<body>
  <%= render 'template/pokertemp' %>
  <div class="main.input">
    <%= render 'template/pokertemp3' %>
  </div>
  <%= render 'template/pokertemp2' %>
</body>

</html>